---
import Layout from "@layouts/Layout.astro";
import Introduction from "@components/Introduction.astro";
import FetchData from "@components/FetchData";
---

<Layout>
  <main>
    <h1 class="text-center m-10 md:m-12 text-2xl sm:text-4xl font-semibold">
      Predicción LPF Argentina - 2024
    </h1>
    <Introduction />
    <FetchData client:load />
  </main>
</Layout>
