---
import Layout from "@layouts/Layout.astro";
import Introduction from "@components/Introduction.astro";
import Legend from "@components/Legend.astro";
import Table from "@components/Table.tsx";
---

<Layout>
  <main>
    <h1>Predicción LPF Argentina - 2024</h1>
    <Introduction />
    <section>
      <Table client:load>
        <Legend/>
      </Table>
    </section>
  </main>
</Layout>

<style>
  h1 {
    text-align: center;
    margin: 50px;
  }
</style>
