---
import Layout from "@layouts/Layout.astro";
import Introduction from "@components/Introduction.astro";
import Table from "@components/Table.tsx";
---

<Layout>
  <main>
    <h1>Predicción LPF Argentina - 2024</h1>
    <Introduction />
    <Table client:load />
  </main>
</Layout>

<style>
  h1 {
    text-align: center;
    margin: 50px;
  }

  @media (max-width: 768px) {
    h1 {
      margin: 40px;
    }
  }

  @media (max-width: 418px) {
    h1 {
      font-size: 1.5rem;
    }
  }
</style>
