.skeletonContainer {
  background-color: #425164;
  overflow: hidden;
  border-radius: 5px;
}

.skeletonMovement {
  height: 110%;
  width: 20px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(40px);
  animation: moveToRight 1.5s infinite;
  animation-timing-function: ease-in-out;
}

@keyframes moveToRight {
  0% {
    left: 0;
  }
  100% {
    left: 500px;
  }
}
