---
import linkedin from "@assets/linkedin.svg";
import github from "@assets/github.svg";
---

<footer>
  <p class="text-sm sm:text-base">Desarrollado por Federico Krenn</p>
  <div class="flex gap-3 my-2">
    <a href="https://www.linkedin.com/in/fkrenn" target="_blank">
      <img
        src={linkedin.src}
        alt="Logo de Linkedin"
        class="w-6 sm:w-8"
      />
    </a>
    <a href="https://github.com/fedekrenn" target="_blank">
      <img
        src={github.src}
        alt="Logo de Github"
        class="w-6 sm:w-8"
      />
    </a>
  </div>
</footer>
