<section>
  <p class="text-center sm:text-left">
    Predicción de la Liga Profesional de Fútbol Argentino sobrecomo finalizarían
    las posiciones tomando en cuenta el desempeño actual de cada equipo en la
    copa de la liga.
  </p>
  <button id="show-dialog" class="block mx-auto my-10">Más información</button>
  <dialog id="dialog" class="w-[90%] m-auto max-w-lg p-10">
    <div class="flex flex-col gap-2.5">
      <h3 class="text-[1.5em] underline">A tener en cuenta</h3>
      <p>
        La tabla es <strong>dinámica</strong> y está conectada a una fuente de información
        que <strong>se actualiza automáticamente.</strong> Por lo que los datos que
        se muestran son siempre los más recientes, incluso si los equipos están jugando
        en este momento.
      </p>
      <p>
        Se calcula el % de puntos obtenidos en la copa, en base a eso se <strong
        >
          estima
        </strong> cuantos puntos obtendrá al finalizar el campeonato de conservar
        esa efectividad. El resultado es un estimativo para copas + descensos.
      </p>
      <p>
        Al ser una predicción en base al % de puntos obtenidos, nada garantiza
        que efectivamente terminen como la tabla a continuación indica.
      </p>
      <button id="close-dialog" class="mt-5">Cerrar</button>
    </div>
  </dialog>
</section>

<script>
  const $dialog = document.getElementById("dialog") as HTMLDialogElement;
  const $showDialogButton = document.getElementById("show-dialog");
  const $closeDialogButton = document.getElementById("close-dialog");

  if ($dialog && $showDialogButton) {
    $showDialogButton.addEventListener("click", () => {
      $dialog.showModal();
    });
  }

  if ($dialog && $closeDialogButton) {
    $closeDialogButton.addEventListener("click", () => {
      $dialog.close();
    });
  }
</script>
