<section class="legend">
  <p>
    Esta tabla es una predicción de como finalizarían las posiciones tomando en
    cuenta el desempeño actual de cada equipo en la copa de la liga.
  </p>
  <p>
    Se calcula el % de puntos obtenido contando solo esta copa, en base a eso se
    estima cuantos puntos obtendrá para luego sumar dichos puntos a los
    obtenidos en la temporada regular del primer semestre. El resultado es un
    estimativo para copas + descensos.
  </p>
  <p>
    Al ser una predicción en base al % de puntos obtenidos, nada garantiza que
    efectivamente terminen como la tabla a continuación indica.
  </p>
  <p class="alert">
    <strong>IMPORTANTE:</strong>
    La tabla es dinámica y está conectada a una fuente de información que se actualiza
    automáticamente. Por lo que los datos que se muestran son siempre los más recientes,
    incluso si los equipos están jugando en este momento.
  </p>
  <p>Coloca el mouse sobre la fila del equipo para ver los puntos actuales.</p>
</section>

<style>
  .legend {
    margin: 50px;
    text-wrap: pretty;
  }

  .legend p {
    margin: 10px 0;
  }
</style>
