<section>
  <p class="text-center sm:text-left">
    Predicción sobre como finalizarían las posiciones de la Liga Profesional de
    Fútbol Argentino tomando en cuenta el desempeño de cada equipo en el torneo
    actual.
  </p>
  <p class="my-2">
    Con aproximadamente <span class="font-bold text-red-500">40 Pts</span> un equipo
    se salvaría del descenso
  </p>
  <button id="show-dialog" class="block mx-auto my-10 px-7 py-2 bg-[#0c151c]">
    Más información
  </button>
  <dialog id="dialog" class="w-[90%] m-auto max-w-lg p-8">
    <div class="flex flex-col gap-2.5">
      <h3 class="text-[1.5em] underline">A tener en cuenta</h3>
      <p>
        La tabla es <strong>dinámica</strong> y está conectada a una fuente de información
        que <strong>se actualiza automáticamente</strong>, por lo que los datos
        que se muestran son siempre los más recientes, incluso si los equipos
        están jugando en este momento.
      </p>
      <p>
        Se calcula el % de efectividad en base a la cantidad de puntos que sacó
        cada equipo tomando en cuenta sólo los partidos la Liga Profesional.
      </p>
      <p>
        A este cálculo se le suma lo obtenido en la Copa de Liga pasada y en
        base a eso se <strong>estima</strong> cuantos puntos obtendrá al finalizar
        el campeonato de conservar esa efectividad. El resultado es un estimativo
        para copas + descensos.
      </p>
      <p>
        Nada garantiza que efectivamente terminen como la tabla a continuación
        indica.
      </p>
      <button id="close-dialog" class="mt-5 py-2 bg-[#0c151c]">Cerrar</button>
    </div>
  </dialog>
</section>

<script>
  const $dialog = document.getElementById("dialog") as HTMLDialogElement;
  const $showDialogButton = document.getElementById("show-dialog");
  const $closeDialogButton = document.getElementById("close-dialog");

  if ($dialog && $showDialogButton) {
    $showDialogButton.addEventListener("click", () => {
      $dialog.showModal();
    });
  }

  if ($dialog && $closeDialogButton) {
    $closeDialogButton.addEventListener("click", () => {
      $dialog.close();
    });
  }
</script>
