<section>
  <p>
    Esta tabla es una predicción de como finalizarían las posiciones tomando en
    cuenta el desempeño actual de cada equipo en la copa de la liga.
  </p>
  <button id="show-dialog">Más información</button>
  <dialog id="dialog">
    <h4>Dialog</h4>
    <p>Prueba</p>
    <button id="close-dialog">Close</button>
  </dialog>
</section>

<style>
  dialog {
    margin: 0 auto;
  }
</style>

<script>
  const dialog = document.getElementById("dialog");
  const showDialogButton = document.getElementById("show-dialog");
  const closeDialogButton = document.getElementById("close-dialog");

  showDialogButton.addEventListener("click", () => {
    dialog.showModal();
  });

  closeDialogButton.addEventListener("click", () => {
    dialog.close();
  });
</script>
