---
import Row from "./Row.astro";
import type { Prediction } from "../types/tableFormat";

const URL = Astro.url + "/team-info.json";

const data = await fetch(URL);
const results = await data.json();

---

<table>
  <thead>
    <tr>
      <th>Posición</th>
      <th class="team-name">Equipo</th>
      <th>% en copa de la liga</th>
      <th class="points">Puntos estimados al finalizar el campeonato</th>
    </tr>
  </thead>
  <tbody>
    {results.map((equipo: Prediction) => <Row {equipo} />)}
  </tbody>
</table>

<style>
  table {
    margin: 0 auto;
    width: auto;
  }

  .team-name {
    width: 220px;
  }

  .points {
    width: 200px;
  }
</style>
