---
import Footer from "@components/Footer.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Predicción para la Copa de La Liga 2024 del fútbol Argentino. En base a los resultados se calcula el % de rendimiento para así poder estimar las posiciones."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css"
    />
    <title>Predicción Liga Profesional Fútbol Argentino 2024</title>
  </head>
  <body>
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  a:hover {
    text-decoration: none;
    color: inherit;
  }
</style>
